extend layout
block content
  p
    | Hi, welcome to trace route. The application will trace the route of packets at they travel to reach a target source.
    | Try something like 'google.com' to see the nearest google data center to you.
  p
    | Some data centers along the way will block these kind of requests and therefore your route will not be able to be completed.
    | This tool was build using Node.js and the unix tool traceroute.