!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Trace Route
    .container
      block content
    footer
      p Running on node with Express, Jade and Stylus